/* About 1 ---------------------------------- */
@media (min-width: 1300px) {
    .img-box1 {
        margin-right: 50px;
    }
}
.img-box1 {
    position: relative;
    z-index: 2;
    padding-bottom: 78px;
    .img1 {
        display: inline-block;
        position: relative;
        z-index: 2;
        img {
            width: 100%;
        }
        &:before {
            content: '';
            background-color: $smoke-color;
            position: absolute;
            bottom: -40px;
            left: -40px;
            height: 100%;
            width: 100%;
            animation: jumpAni 7s linear infinite;
            z-index: -1;
        }
    }
    .img2 {
        position: absolute;
        bottom: 0px;
        right: 0;
        border: 10px solid $border-color;
        z-index: 3;
        img {
            max-width: fit-content;
        }
    }
    .ripple-shape {
        --border-color: #E83A15;
        --circle-size: 54px;
        --opacity-original: 1;
        --opacity-animate: 0;
        --duration: 10s;
        position: absolute;
        bottom: calc(var(--circle-size) * -0.5);
        left: calc(var(--circle-size) * -0.5);
        z-index: 3;
    }
    .year-counter {
        position: absolute;
        top: 0;
        right: 40px;
        writing-mode: vertical-lr;
        background-color: $white-color;
        z-index: 4;
        max-height: 208px;
    }
}

.year-counter {
    display: flex;
    align-items: center;
    gap: 10px;
    &_number {
        font-size: 64px;
        font-weight: 700;
        color: $theme-color;
        writing-mode: horizontal-tb;
        line-height: 46px;
    }
    &_title {
        font-size: 18px;
        color: $title-color;
        font-weight: 600;
        display: block;
    }
    &_text {
        font-size: 18px;
        font-weight: 600;
    }
}

@include lg {
    .img-box1 {
        .img1 {
            display: block;
            width: 70%;
            img {
                max-height: 500px;
                object-fit: cover;
            }
        }
        .year-counter {
            right: 90px;
            top: 40px;
        }
    }
}
@include md {
    .img-box1 {
        .year-counter {
            right: 60px;
        }
    }
}
@include sm {
    .img-box1 {
        .year-counter {
            top: 0;
            right: 30px;
        }
    }
}

/* About 2 ---------------------------------- */
.about-feature {
    &-wrap {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        margin-bottom: 40px;
    } 
    display: flex;
    gap: 16px;
    align-items: center;
    &_icon {
        width: 76px;
        height: 76px;
        line-height: 76px;
        box-shadow: 0px 4px 20px rgba(159, 159, 159, 0.15);
        text-align: center;
    }
    &_title {
        font-size: 18px;
        margin-bottom: 8px;
    }
    &_text {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
    }
}

.video-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    .play-btn {
        > i {
            --icon-size: 56px;
            background-color: $theme-color;
            color: $white-color;
        }
        &:before,
        &:after {
            background-color: $theme-color;
        }
        &:hover {
            > i {
                background-color: $title-color;
            }
            &:before,
            &:after {
                background-color: $title-color;
            }
        }
    }
    .btn-text {
        font-size: 18px;
        font-weight: 500;
        text-decoration: underline;
        color: $body-color;
    }
    &:hover {
        .btn-text {
            color: $theme-color;
        }
    }
}

.btn-group {
    &:has(.video-btn),
    &:has(.call-btn) {
        gap: 50px;
    }
}
@media (min-width: 1300px) {
    .img-box3 {
        margin-right: 50px;
    }
}
.img-box3 {
    position: relative;
    z-index: 2;
    text-align: right;
    .img1 {
        position: absolute;
        right: 160px;
        bottom: 56px;
        z-index: -1;
        img {
            max-width: fit-content;
        }
    }
    .img2 {
        background-color: $white-color;
        padding: 10px;
        display: inline-block;
        img {
            border-radius: inherit;
        }
    }
    .choose-box {
        margin-top: 30px;
        margin-left: auto;
        max-width: 243px;
        &_number {
            font-size: 74px;
        }
        &_text {
            display: block;
            &:first-line {
                color: $title-color;
            }
        }
    }
}

@include lg {
    .about-feature {
        max-width: 340px;
        &-wrap {
            gap: 20px 40px;
        }
    }
}
@include sm {
    .about-feature {
        &-wrap {
            grid-template-columns: auto;
        }
    }
    .img-box3 {
        .img1 {
            right: -42px;
        }
    }
}
@include xs {
    .btn-group {
        &:has(.video-btn),
        &:has(.call-btn) {
            gap: 30px;
        }
    }
    .img-box3 {
        .img1 {
            right: 0;
            bottom: 25%;
            img {
                max-width: 100%;
            }
        }
    }
}

/* About 3 ---------------------------------- */
@media (min-width: 1300px) {
    .img-box4 {
        margin-right: 50px;
    }
}

.img-box4 {
    position: relative;
    text-align: center;
    img {
        width: 100%;
    }
    .year-counter {
        text-align: left;
        padding: 50px 50px 0 50px;
        &_text {
            color: $theme-color;
        }
    }
}

.about-quote {
    padding-left: 19px;
    margin: -0.5em 0;
    font-style: italic;
    position: relative;
    &:before {
        content: '';
        height: calc(100% - 16px);
        width: 4px;
        position: absolute;
        top: 8px;
        left: 0;
        background-color: $theme-color;
    }
}

.about-profile {
    display: flex;
    align-items: center;
    gap: 20px;
    .avater {
        width: 56px;
    }
    .text {
        margin-bottom: -0.5em;
        margin-top: 5px;
    }
}
@media (min-width: 768px) {
    .btn-group {
        .about-profile {
            margin-left: 20px;
        }
    }
}

.feature-grid {
    &-wrap {
        background-color: $white-color;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        box-shadow: 0px 6px 30px rgba(192, 192, 192, 0.2);
        position: relative;
        z-index: 3;
        margin-top: -160px;
    }
    text-align: center;
    padding: 60px 10px;
    border-right: 1px solid $border-color;
    &:last-child {
        border-right: none;
    }
    &_icon {
        margin-bottom: 15px;
        img {
            transition: 0.4s ease-in-out;
        }
    }
    &_title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: -0.3em;
    }
    &:hover {
        .feature-grid {
            &_icon {
                img {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

@include xl {
    .feature-grid-wrap {
        margin-top: -120px;
    }
}

@include lg {
    .img-box4 {
        .year-counter {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 30px;
            background-color: $white-color;
        }
    }
    .feature-grid-wrap {
        margin-top: 40px;
    }
}

@include xs {
    .feature-grid {
        &-wrap {
            grid-template-columns: repeat(1, 1fr);
        }
        border-right: none;
        border-bottom: 1px solid $border-color;
        padding: 40px 10px;
        &:last-child {
            border-bottom: none;
        }
    }
}

@include vxs {
    .img-box4 .year-counter {
        padding: 20px;
    }
}