/* Counter 1 ---------------------------------- */
.counter-card {
    &-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    border-right: 1px solid $border-color;
    padding: 70px 0;
    text-align: center;
    position: relative;
    z-index: 2;
    &:last-child {
        border-right: none;
    }
    &_number {
        font-size: 44px;
        color: $theme-color;
        font-weight: 600;
        margin-bottom: 0px;
        margin-top: -0.28em;
    }
    &_text {
        font-size: 18px;
        font-weight: 500;
        display: block;
        margin-bottom: -0.32em;
    }
    &.style2 {
        --border-color: rgba(224, 224, 224, 0.5);
        .counter-card_number {
            color: $white-color;

        }
        .counter-card_text {
            color: #e0e0e0;
            font-weight: 400;
        }
    }
    &.style3 {
        &:before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: $white-color;
            clip-path: path("M0 0V197.605L97.5 218L211.5 197.605L305 218V197.605V16.7692L211.5 0L97.5 16.7692L0 0Z");
            z-index: -1;
        }
        filter: drop-shadow(0px 6px 30px rgba(192, 192, 192, 0.25));
        border: none !important;
        padding: 79px 0;
        &:nth-child(even) {
            &:before {
                clip-path: path("M305 0V197.605L207.5 218L93.5 197.605L0 218V197.605V16.7692L93.5 0L207.5 16.7692L305 0Z");
            }
        }
    }
}
@include xl {
    .counter-card.style3:nth-child(even):before {
        transform: translateY(-4px);
    }
}
@include lg {
    .counter-card.style3:nth-child(even):before {
        transform: translateY(-13px);
    }
}
@include md {
    .counter-card {
        &-wrap {
            grid-template-columns: repeat(2, 1fr);
        }
        &:nth-child(even) {
            border-right: none;
        }
        &:nth-child(-n + 2) {
            border-bottom: 1px solid $border-color;
        }
        &.style3 {
            margin: 5px 20px;
            &:nth-child(even):before {
                transform: translateY(0);
            }
        }
    }
}
@include sm {
    .counter-card {
        &.style3 {
            margin: 5px 15px;
        }
    }
}

@include xs {
    .counter-card {
        padding: 50px 0;
        &.style3 {
            margin: -12px 0;
        }
    }
}

@include vxs {
    .counter-card {
        &_text {
            font-size: 16px;
        }
    }
}