.slick-track > [class*="col"] {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}

.slick-track {
    min-width: 100%;
}

.slick-list {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.slick-slide img {
    display: inline-block;
}

.slick-dots {
    list-style-type: none;
    padding: 0;
    margin: 40px 0 0px 0;
    line-height: 0;
    text-align: center;
    height: max-content;

    li {
        display: inline-block;
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    button {
        font-size: 0;
        padding: 0;
        width: 12px;
        height: 12px;
        line-height: 0;
        border-radius: 9999px;
        border: none;
        background-color: $border-color;
        transition: all ease 0.4s;
        position: relative;

        &:hover {
            border-color: $theme-color;
        }

        &:before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 20px;
            height: 20px;
            transform: scale(0.5);
            margin: -10px 0 0 -10px;
            background-color: $theme-color;
            border-radius: 50%;
            transition: all ease 0.4s;
            opacity: 0;
            visibility: hidden;
        }
    }

    .slick-active {
        button {
            background-color: $theme-color;

            &::before {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }
        }
    }
}

.slick-arrow {
    display: inline-block;
    padding: 0;
    background-color: $smoke-color;
    color: $title-color;
    position: absolute;
    top: 50%;
    border: 1px solid $border-color;
    // box-shadow: 0px 6px 20px rgba(0, 96, 255, 0.6);
    left: var(--pos-x, -100px);
    width: var(--icon-size, 46px);
    height: var(--icon-size, 46px);
    line-height: var(--icon-size, 44px);
    font-size: var(--icon-font-size, 16px);
    margin-top: calc(var(--icon-size, 46px) / -2);
    z-index: 2;
    border-radius: 0px;
    &.default {
        position: relative;
        --pos-x: 0;
        margin-top: 0;
    }

    &.slick-next {
        right: var(--pos-x, -100px);
        left: auto;
    }

    &:hover {
        background-color: $theme-color;
        color: $white-color;
    }
}

.arrow-margin {
    .slick-arrow {
        top: calc(50% - 30px);
    }
}

.arrow-wrap {
    .slick-arrow {
        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        .slick-arrow {
            opacity: 1;
            visibility: visible;
        }
    }
}

@include xxl {
    .slick-arrow {
        --arrow-horizontal: -20px;
        --pos-x: -70px;
    }
}

@include ml {
    .slick-arrow {
        --arrow-horizontal: 40px;
        --pos-x: -17px;
    }
}

@include md {
    .slick-arrow {
        --icon-size: 40px;
        line-height: 38px;
        margin-right: 40px;
        font-size: 14px;

        &.slick-next {
            margin-right: 0;
            margin-left: 40px;
        }
    }

    .slick-dots {
        margin: 40px 0 0 0;
    }
    .icon-box {
        .slick-arrow {
            margin-right: 0;
        }
    }
}

.slick-3d-active {
    margin-left: -12%;
    margin-right: -12%;
    .slick-list {
        padding-left: 30% !important;
        padding-right: 30% !important;
    }
    .slick-track {
        max-width: 100% !important;
        transform: translate3d(0, 0, 0) !important;
        perspective: 100px;
    }
    .slick-slide {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        width: 100% !important;
        transform: translate3d(0, 0, 0);
        transition: transform 1s, opacity 1s;
        // background-color: $smoke-color2;
    }
    .slick-3d-next,
    .slick-3d-prev,
    .slick-3d-next2,
    .slick-3d-prev2 {
        display: block;
    }
    .slick-current {
        opacity: 1;
        position: relative;
        display: block;
        z-index: 2;
    }
    .slick-3d-next {
        opacity: 1;
        transform: translate3d(50%, 0, -21px);
        z-index: 1;
        perspective: 1000px;
    }
    .slick-3d-next2 {
        opacity: 1;
        transform: translate3d(40%, 0, -23px);
        z-index: 0;
        perspective: 1000px;
    }
    .slick-3d-prev {
        opacity: 1;
        transform: translate3d(-50%, 0, -21px);
        .testi-card {
            box-shadow: none;
        }
    }
    .slick-3d-prev2 {
        opacity: 1;
        transform: translate3d(-40%, 0, -23px);
    }
}
